p {
    @include margin-shorthand-with-screens-support((
        top: $p-margin-top, 
        bottom: $p-margin-bottom, 
        left: $p-margin-left, 
        right: $p-margin-right
    ), $p-margin-for-screens);
    @include padding-shorthand((
        top: $p-padding-top, 
        bottom: $p-padding-bottom, 
        left: $p-padding-left, 
        right: $p-padding-right
    ));
    @include p-extra-style();
}
