//Margins
$p-margin-top: $elements-margin-top !default;
$p-margin-bottom: $elements-margin-bottom !default;
$p-margin-left: $elements-margin-left !default;
$p-margin-right: $elements-margin-right !default;
$p-margin-for-screens: $elements-margin-for-screens !default;

//Paddings
$p-padding-top: 0 !default;
$p-padding-bottom: 0 !default;
$p-padding-left: 0 !default;
$p-padding-right: 0 !default;

//Extra style
@mixin p-extra-style() {}